:root {
  --darkbrown: #8D7B68;
  --white: #ffffff;
  --lightestpurple:#635985;
}
 /* 635985  light
443C68 quite dark
393053 quite more dark
18122B darkest */

body{
background-color: var(--darkbrown);
}