
:root {
    --darkpurple: #18122B;
    --white: #ffffff;
    --lightest:#F1DEC9;
    --iconColors:#C8B6A6;
  }

.NavBar_Container{
background-color: var(--lightest);
height: 4rem;
width: 100%;
align-items: center;
justify-content: end;
display: flex;
font-size: 1.3rem;
position: fixed;
z-index: 2;
}
.nav-item{
    cursor: pointer;
    
}