:root {
    --darkpurple: #18122B;
    --white: #ffffff;
    --lightest: #F1DEC9;
    --iconColors: #C8B6A6;
}





.launchPad_container {

    padding-top: 5rem;

}

.welcome_card_launchPad {
    height: 350px;
    background-color: var(--lightest);
}

.launchPad_row {

    padding-left: 13rem;
    padding-right: 2rem;
}

.launchPad_row2 {
    padding-top: 1rem;
    padding-left: 13rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.Study_Lounge_card {
    height: 350px;
    background-color: var(--lightest);
}

.Book_session {
    height: 350px;
    background-color: var(--lightest);
}
@media (max-width: 900px) {
    
 .launchPad_container{
       
    width: 100%;
    margin-top: 2rem;
 }   
 .launchPad_row{
    padding: 0%; 

}
.launchPad_row2{
    padding: 0;
}
 /* .launchPad_row{
    padding-left: 3rem;
 }
 
 .launchPad_row2{
    padding-left: 3rem;
 } */
}