:root {
    --darkpurple: #18122B;
    --white: #ffffff;
    --lightest: #F1DEC9;
    --iconColors: #C8B6A6;
}





.launchPad_container {

    padding-top: 5rem;

}

.welcome_card_launchPad {
    height: 350px;
    background-color: var(--lightest);
}

.launchPad_row {

    padding-left: 13%;
    padding-right: 3%;
}

.launchPad_row2 {
    padding-top: 2%;
    padding-left: 13%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.Study_Lounge_card {
    height: 350px;
    background-color: var(--lightest);
}

.Book_session {
    height: 350px;
    background-color: var(--lightest);
}